.btn-login {
	background-color: urbank-colors(color-primary-2);
  color: #fff;
	font-size: 1.8rem;
  font-weight: 400;
	padding: .4rem 0 .8rem;
	text-align: center;
}

.aside-btn-full {
  display: block;
  margin-bottom: 2.6rem;
	width: 100%;
}
