/* `URBAN TAB CONTENT
----------------------------------------------------------------------------------------------------*/
.tab-container {
  position: relative;
}

.tab_content {
  display: none;
}

.tabs {
  height: 5rem;
  overflow: hidden;
  position: absolute;
}

.tabs > * {
  display: inline-block;
  float: left;
  height: 5rem;
  margin-top: 20px;
  text-align: center;

  &.current-tab {
    margin-top: 1rem;
    position: relative;
    z-index: 2;
  }

  &.current-tab:first-child {
    margin-top: 1.1rem;
  }

  &.current-tab:not(:first-child) {
    margin-top: 1.1rem;
  }
}

.tabs a {
  display: block;
  padding: 5px 14px 5px;
}

.tabs a.current {
  margin-top: .9rem;
}

.tab_content_wrap {
  margin: 0 0 20px;
  overflow: hidden;
  padding: 20px 20px 5px;
  position: relative;
  top: 49px;
  width: 100%;
  z-index: -1px;
}

/* `ASIDE / SIDEBAR TABS
----------------------------------------------------------------------------------------------------*/
.aside-tab {
  @extend %urbank-tabbed-content;
}
