
.snug-bottom {
	margin-bottom: 0;
	padding-bottom: 0;
}

.squeeze-15 {
	padding: 0 15% 0 15%;
}

.squeeze-32 {
	padding: 0 32% 0 32%;
}

.squeeze-25 {
	padding: 0 25% 0 25%;
}

.spacer-30 {
	margin-bottom: 30px;
}

.spacer-40 {
	margin-bottom: 40px;
}

.spacer-50 {
	margin-bottom: 50px;
}

.spacer-60 {
	margin-bottom: 60px;
}

.spacer-65 {
	margin-bottom: 65px;
}

.spacer-70 {
	margin-bottom: 70px;
}

.spacer-80 {
	margin-bottom: 80px;
}

.push-bottom-10 {
	padding-bottom: 10px;
}

.push-bottom-20 {
	padding-bottom: 20px;
}

.push-bottom-30 {
	padding-bottom: 30px;
}

.push-bottom-40 {
	padding-bottom: 40px;
}

.push-bottom-50 {
	padding-bottom: 50px;
}

.push-bottom-60 {
	padding-bottom: 60px;
}

.push-bottom-70 {
	padding-bottom: 70px;
}

.push-bottom-100 {
	padding-bottom: 100px;
}

.push-up-10 {
	padding-top: 10px;
}

.push-up-20 {
	padding-top: 20px;
}

.push-up-30 {
	padding-top: 30px;
}

.push-up-40 {
	padding-top: 40px;
}

.push-up-50 {
	padding-top: 50px;
}

.push-up-60 {
	padding-top: 60px;
}

.push-up-70 {
	padding-top: 70px;
}

.push-up-100 {
	padding-top: 100px;
}
